*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
}

.main{
    display: inline-block;
    margin-top: 12px;
    padding: 10px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.img-pokemon{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 30%);
    height: 18%;
}

.pokemon-dados{
    position: absolute;
    font-weight: 600;
    color: gray;
    top: 55%;
    right: 26%;
    font-size: clamp(8px, 5vw, 28px);
}

.nome-pokemon{
    color: black;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 68%;
    left: 14%;
}

.pesquisa{
    width: 100%;
    padding: 2%;
    outline: none;
    border: 2px solid #333;
    border-radius: 8px;
    font-weight: 600;
    color: black;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.botoes{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 10px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(5px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}